<a href="https://colab.research.google.com/github/VIKHYATH1134/23CSBTB27-28/blob/main/LIST2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Part 1 â€“ Implement Basic Data Structures using Numpy, Pandas

In [2]:
import numpy as np
list=[1,5,2,6,7]
list1=[3,6,1,2]
print(list)
print(list1)
print(type(list))
print(type(list1))

[1, 5, 2, 6, 7]
[3, 6, 1, 2]
<class 'list'>
<class 'list'>

In [4]:
List = ["Geeks","for","geeks"]
List2 ="my first lab"
List3 =4.3
List4 =2j+3
List5 ='my first class'
print(type(List2))
print(type(List3))
print(type(List4))
print(type(List5))
print("\nList Items: ")
print(List)
print(type(List))
print(List[0])
print(List[2])

<class 'str'>
<class 'float'>
<class 'complex'>
<class 'str'>

List Items:
['Geeks', 'for', 'geeks']
<class 'list'>
Geeks
geeks